.grid {
  @mixin grid;
}

.grid__item {
  @mixin grid__item;
}

.grid$(modifier-prefix)right {
  @mixin grid--right;
}

.grid$(modifier-prefix)reverse{
  @mixin grid--reverse;
}

.grid$(modifier-prefix)center{
  @mixin grid--center;
}

/*
 * Media Box
 */

.media {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 -$(default-gutter)px -$(default-gutter)px;

  > * {
    padding: 0 0 $(default-gutter)px $(default-gutter)px;
  }
}

.media$(modifier-prefix)middle {
  align-items: center;
}

.media$(modifier-prefix)bottom {
  align-items: flex-end;
}

.media$(element-prefix)body {
  flex: 1;
}

.no-flexbox {

  .media {
    display: table;
    min-width: 100%;
  }

  .media$(element-prefix)img,
  .media$(element-prefix)figure,
  .media$(element-prefix)body {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
  }

  .media$(modifier-prefix)middle {

    .media$(element-prefix)img,
    .media$(element-prefix)figure,
    .media$(element-prefix)body {
      vertical-align: middle;
    }
  }

  .media$(modifier-prefix)bottom {

    .media$(element-prefix)img,
    .media$(element-prefix)figure,
    .media$(element-prefix)body {
      vertical-align: bottom;
    }
  }

  .media$(element-prefix)img,
  .media$(element-prefix)figure {
    max-width: none;

    img {
      max-width: none;
    }
  }

  .media$(element-prefix)body {
    width: 100%;
  }
}
