.units {
  @mixin units;
}

.unit {
  @mixin unit;
}

.units$(modifier-prefix)right {
  @mixin units--right;
}

.units$(modifier-prefix)reverse{
  @mixin units--reverse;
}

.units$(modifier-prefix)center{
  @mixin units--center;
}

// Media Box

.media {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.media--middle {
  align-items: center;
}

.media--bottom {
  align-items: flex-end;
}

.media__body {
  flex: 1;
}

.no-flexbox {

  .media {
    display: table;
    min-width: 100%;
  }

  .media__img,
  .media__figure,
  .media__body {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
  }

  .media--middle {

    .media__img,
    .media__figure,
    .media__body {
      vertical-align: middle;
    }
  }

  .media--bottom {

    .media__img,
    .media__figure,
    .media__body {
      vertical-align: bottom;
    }
  }

  .media__img,
  .media__figure {
    max-width: none;

    img {
      max-width: none;
    }
  }

  .media__body {
    width: 100%;
  }
}

@mixin echo-gap;
@mixin unit-size $screen-size;
