@define-mixin g-clearfix {
  &:after,
  &:before {
    display: table;
    clear: both;
    content: "";
   }
}

@define-mixin font-size $px {
  font-size: $px + px;
  font-size: $px / 10 + rem;
}

@define-mixin sprite-img {
  display: inline-block;
  height: 0;
  vertical-align: middle;
}

@define-mixin sprite-img-cancel {
  width: auto;
  height: auto;
  background-image: none;
  padding-top: 0;
}

@define-mixin units {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  letter-spacing: -.4em;

  .no-flexbox & {
    display: block;
  }

  table & {
    display: block;
  }

  .lt-ie8 & {
    overflow: visible;
    zoom: 1;
  }

  &:after {
    display: block;
    clear: both;
    height: 0;
    content: "";
  }
}

@define-mixin unit {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  vertical-align: top;
  letter-spacing: normal;
  margin: 0;

  .lt-ie8 & {
    zoom: 1;
  }
}

@define-mixin units--right {

  justify-content: flex-end;

  .no-flexbox & {
    display: block;
    text-align: right;

    > .unit {
      text-align: left;
    }
  }
}

@define-mixin units--reverse {
  flex-direction: row-reverse;

  .no-flexbox & {

    > .unit {
      float: right;
    }
  }
}

@define-mixin units--center {
  justify-content: center;

  .no-flexbox & {
    display: block;
    text-align: center;

    > .unit {
      text-align: left;
    }
  }
}

%icon {
  display:inline-block;
  text-decoration:inherit;
  font-weight:normal;
  font-style:normal;
  font-family:"icon";
}

@define-mixin gap $gap {
  margin: 0 0 -$(gap)px -$(gap)px;

  > * {
    padding: 0 0 $(gap)px $(gap)px;
  }
}

@define-mixin gap-vertical $gap {
  margin-bottom: -$(gap)px;

  > * {
    padding-bottom: $(gap)px;
  }
}

@define-mixin echo-gap {

  @each $gap in (10, 20) {

    .gap-$(gap) {
      @mixin gap $(gap);
    }
  }

  @each $gap in (10, 20) {

    .gap-vertical-$(gap) {
      @mixin gap-vertical $(gap);
    }
  }
}
