@define-mixin g-clearfix {
  &:after,
  &:before {
    display: table;
    clear: both;
    content: "";
   }
}

@define-mixin font-size $px {
  font-size: $px + px;
  font-size: $px / 10 + rem;
}

@define-mixin sprite-img {
  display: inline-block;
  height: 0;
  vertical-align: middle;
}

@define-mixin sprite-img-cancel {
  width: auto;
  height: auto;
  background-image: none;
  padding-top: 0;
}

@define-mixin grid {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 -$(default-gutter)px -$(default-gutter)px;
  padding: 0;
  letter-spacing: -.4em;

  .no-flexbox & {
    display: block;
  }

  table & {
    display: block;
  }

  .lt-ie8 & {
    overflow: visible;
    zoom: 1;
  }

  &:after {
    display: block;
    clear: both;
    height: 0;
    content: "";
  }
}

@define-mixin grid__item {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  vertical-align: top;
  letter-spacing: normal;
  margin: 0;
  padding: 0 0 $(default-gutter)px $(default-gutter)px;

  .lt-ie8 & {
    zoom: 1;
  }
}

@define-mixin grid--right {

  justify-content: flex-end;

  .no-flexbox & {
    display: block;
    text-align: right;

    > * {
      text-align: left;
    }
  }
}

@define-mixin grid--reverse {
  flex-direction: row-reverse;

  .no-flexbox & {

    > * {
      float: right;
    }
  }
}

@define-mixin grid--center {
  justify-content: center;

  .no-flexbox & {
    display: block;
    text-align: center;

    > * {
      text-align: left;
    }
  }
}

@define-mixin gutter $gutter {
  margin: 0 0 -$(gutter)px -$(gutter)px;

  > * {
    padding: 0 0 $(gutter)px $(gutter)px;
  }
}

@define-mixin gutter-vertical $gutter {
  margin-bottom: -$(gutter)px;

  > * {
    padding-bottom: $(gutter)px;
  }
}

@define-mixin gutter-horizontal $gutter {
  margin-left: -$(gutter)px;

  > * {
    padding-left: $(gutter)px;
  }
}
