/* タブレットサイズ */
@media (max-width: 768px) {

  .data {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

/* モバイルサイズ */
@media (max-width: 768px) {

  html {
    /*デバイスが横になった時の文字拡大をOFF*/
    -webkit-text-size-adjust: none;
  }

  /* 画像 */
  img {
    max-width: 100%;
    height: auto;
  }

  /* テーブル */
  table {
    overflow: auto;
  }

}
