/*
@styleguide

@title Scaffolding

<h3>境界線</h3>
<hr>
<h3>テーブル</h3>
<table class="table">
  <tr>
    <th>タイトル</th>
    <td>テキスト</td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td>テキスト</td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td>テキスト</td>
  </tr>
</table>
<h3>フォーム関連</h3>
<form action="">
  <input type="text" class="form-control">
  <input type="text" class="form-control form-control--inline">
  <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
</form>
*/

html {
  color: var(--base-text-color);
  font-size: 10px;
  line-height: 1.5;
  font-family: var(--base-font-family);
  /* !text-rendering: optimizeLegibility; */
}

body {
  font-size: var(--base-text-size);
}

::selection {
  background: lighten(var(--base-link-color) 40%);
  text-shadow: none;
}

a {
  color: var(--base-link-color);
  text-decoration: none;

  &:hover,
  &:active {
    color: lighten(var(--base-link-color) 10%);
    text-decoration: underline;
  }
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

img.left,
img.alignleft,
img.fl {
  float: left;
  margin: 0 1em 1em 0;
}

img.right,
img.alignright,
img.fr {
  float: right;
  margin: 0 0 1em 1em;
}

img.aligncenter,
img.ac {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table {

  @nest
  & th,
  & td {
    padding: .5em;
    border: 1px solid #ccc;
  }

  @nest & a {
    word-break: break-all;
  }
}

tfoot {
  text-align: center;
}

tfoot td {
  border-top-width: 2px;
}

.data .table {
  width: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label,
button {
  cursor: pointer;
}

.form-control {
  display: inline-block;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: .5em;
  border: 1px solid #ccc;
  color: #555555;
  width: 100%;
  box-sizing: border-box;

  @nest &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: #eee;
    /* iOS fix for unreadable disabled content */
    opacity: 1;
  }
}

.form-control--inline {
  width: auto;
}

textarea {
  resize: vertical;
}

.form-control:focus,
select:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px color(var(--base-link-color) lightness(40%) a(.6));
  outline: 0;
  border-color: color(var(--base-link-color) lightness(40%) a(.8));
}

select {
  border: 1px solid #ccc;
  background-color: #fff;
}
