html {
  color: $base-text-color;
  font-size: 10px;
  line-height: 1.5;
  font-family: $base-font-family;
  /* !text-rendering: optimizeLegibility; */
}

body {
  font-size: $base-text-size-px;
}


::-moz-selection {
  background: lighten($base-link-color, 40%);
  text-shadow: none;
}

::selection {
  background: lighten($base-link-color, 40%);
  text-shadow: none;
}

a {
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: lighten($base-link-color, 10%);
    text-decoration: underline;
  }
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

img {
  vertical-align: middle;
  max-width: 100%;
  /* !IE8以下で画像が表示されなくなるバグを回避するために必要→強制的に幅100%は不都合が多い。IE8ではimgタグにサイズ指定をしないこと。 */
  /* !width: 100%; */
  height: auto;
}

img.left,
img.alignleft,
img.fl {
  float: left;
  margin: 0 1em 1em 0;
}

img.right,
img.alignright,
img.fr {
  float: right;
  margin: 0 0 1em 1em;
}

img.aligncenter,
img.ac {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
