/*基本フォント*/

@font-face {
  font-family: 'MyYuGothicM';
  font-weight: normal;
  src: local('YuGothic-Medium'), /* Postscript name */
  local('Yu Gothic Medium'), /* for Chrome */
  local('YuGothic-Regular'); /* Mediumがない場合 */
}

@font-face {
  font-family: 'MyYuGothicM';
  font-weight: bold;
  src: local('YuGothic-Bold'), /* Postscript name */
  local('Yu Gothic'); /* for Chrome */
}

:root {

  /*基本テキストサイズ*/
  --base-text-size: 1.4rem;

  --base-font-family:
    'Noto Sans JP',
    'Noto Sans CJK JP',
    'Noto Sans CJK Japanese',
    MyYuGothicM, /* Windows 游ゴシック */
    YuGothic, /* OS X 游ゴシック */
    -apple-system, /* OS X, iOS San Francisco */
    BlinkMacSystemFont, /* OS X, iOS Chrome San Francisco */
    'Hiragino Kaku Gothic ProN', /* OS X, iOS ヒラギノ */
    Meiryo, /* Windows メイリオ */
    sans-serif;

    /*基本テキストカラー*/
    --base-text-color: #333;

    /*基本リンクテキストカラー*/
    --base-link-color: #074ae2;
}
