<raw-html>
  <span data-ref="content"></span>

  <script>
    export default {
      setContent() {
        console.log(this.props.content)
        this.$('[data-ref="content"]').innerHTML = String(this.props.content)
      },
      onMounted() {
        this.setContent()
      },
      onUpdated() {
        this.setContent()
      },
    }
  </script>
</raw-html>