@charset "utf-8";

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'entypo';
  src: url('../font/entypo.eot');
  src: url('../font/entypo.eot?#iefix') format('embedded-opentype'),
     url('../font/entypo.woff') format('woff'),
     url('../font/entypo.ttf') format('truetype'),
     url('../font/entypo.svg#entypo') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'entypo-social';
  src: url('../font/entypo-social.eot');
  src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'),
     url('../font/entypo-social.woff') format('woff'),
     url('../font/entypo-social.ttf') format('truetype'),
     url('../font/entypo-social.svg#entypo-social') format('svg');
}

.icon--entypo {
  @extend .icon;
  text-decoration: none;
  font-size: 2.5em;
  font-family: "entypo";
  line-height: .6;

  .lt-ie10 & {
    position: relative;
    top: .1em;
    vertical-align: baseline;
  }

  .lt-ie8 & {
    margin-top: -1.5em;
    line-height: 1;
  }
}

.icon--entypo-social {
  @extend .icon;
  text-decoration: none;
  font-size: 2.5em;
  font-family: "entypo-social";
  line-height: .6;

  .lt-ie10 & {
    position: relative;
    top: .1em;
    vertical-align: baseline;
  }

  .lt-ie8 & {
    margin-top: -1.5em;
    line-height: 1;
  }
}