@charset "utf-8";

.units,
.line {
  @include units;
}

.unit {
  @include unit;
}

.units#{$modifier-prefix}right {
  @include units--right;
}

.units#{$modifier-prefix}reverse{
  @include units--reverse;
}

.units#{$modifier-prefix}center{
  @include units--center;
}

@include echo-units-gap();

// Media Box

.media {
  display: table;
  width: 100%;
}

.media__img,
.media__body {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;

  .media--middle > & {
    vertical-align: middle;
  }

  .media--bottom > & {
    vertical-align: bottom;
  }
}

.media__img {
  max-width: none;

  img {
    max-width: none;
  }
}

.media__body {
  width: 100%;
}

@each $gap in $unit-gaps {

  .media--gap-#{$gap} {
    margin: 0 0 -#{$gap}px -#{$gap}px;

    > * {
      padding: 0 0 #{$gap}px #{$gap}px;
    }
  }
}

@include unit-size($screen-size);
