@charset "utf-8";

.units {
  @include units;
}

.unit {
  @include unit;
}

.units#{$modifier-prefix}right {
  @include units--right;
}

.units#{$modifier-prefix}reverse{
  @include units--reverse;
}

.units#{$modifier-prefix}center{
  @include units--center;
}

// Media Box

.media {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.media--middle {
  align-items: center;
}

.media--bottom {
  align-items: flex-end;
}


.media__body {
  flex: 1;
}

.no-flexbox {

  .media {
    display: table;
    min-width: 100%;
  }

  .media__img,
  .media__figure,
  .media__body {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;

    .media--middle > & {
      vertical-align: middle;
    }

    .media--bottom > & {
      vertical-align: bottom;
    }
  }

  .media__img,
  .media__figure {
    max-width: none;

    img {
      max-width: none;
    }
  }

  .media__body {
    width: 100%;
  }
}

@include echo-gap();
@include unit-size($screen-size);
