.collapse,
.collapse-vertical,
.collapse-top,
.h-mtn {
  margin-top: 0;
}

.collapse,
.collapse-vertical,
.collapse-bottom,
.h-mbn {
  margin-bottom: 0;
}

.collapse,
.collapse-horizontal,
.collapse-left,
.h-mln {
  margin-left: 0;
}

.collapse,
.collapse-horizontal,
.collapse-right,
.h-mrn {
  margin-right: 0;
}

.separate,
.separate-top,
.separate-vertical,
.h-mtm {
  margin-top: 10px;
}

.separate,
.separate-bottom,
.separate-vertical,
.h-mbm {
  margin-bottom: 10px;
}

.separate,
.separate-left,
.separate-horizontal,
.h-mlm {
  margin-left: 10px;
}

.separate,
.separate-right,
.separate-horizontal,
.h-mrm {
  margin-right: 10px;
}

.separate-l,
.separate-top-l,
.separate-vertical-l,
.h-mtl {
  margin-top: 20px;
}

.separate-l,
.separate-bottom-l,
.separate-vertical-l,
.h-mbl {
  margin-bottom: 20px;
}

.separate-l,
.separate-left-l,
.separate-horizontal-l,
.h-mll {
  margin-left: 20px;
}

.separate-l,
.separate-right-l,
.separate-horizontal-l,
.h-mrl {
  margin-right: 20px;
}

.separate-s,
.separate-top-s,
.separate-vertical-s,
.h-mts {
  margin-top: 5px;
}

.separate-s,
.separate-bottom-s,
.separate-vertical-s,
.h-mbs {
  margin-bottom: 5px;
}

.separate-s,
.separate-left-s,
.separate-horizontal-s,
.h-mls {
  margin-left: 5px;
}

.separate-s,
.separate-right-s,
.separate-horizontal-s,
.h-mrs {
  margin-right: 5px;
}

/* CLEARFIX */
.clearfix,
.cf {
  @include g-clearfix();
}

/* テキスト方向
以下のWordpressのリッチテキストエディタが付加するクラス(※)も合わせて設定
※ .alignleft / .alignright / .aligncenter
*/
.txtl,
.alignleft,
.h-tal {
  text-align: left;
}

.txtr,
.alignright,
.h-tar {
  text-align: right;
}

.txtc,
.aligncenter,
.h-tac {
  text-align: center;
}

/* フロート
Wordpressのリッチテキストエディタが付加するクラス(※)を網羅。
※ .left / .right / .clear
*/
.left,
.h-fll {
  @include float(left);
  margin-top: 0;
}

.right,
.h-flr {
  @include float(right);
  margin-top: 0;
}

.clear,
.h-cl {
  @include reset-float();
  clear: both;
}

.hide,
.h-dn {
  display: none;
}

.show,
.h-db {
  display: block;
}

// Emmet Style Helpers
// http://docs.emmet.io/cheat-sheet/

.posr,
.h-posr {
  position: relative;
}

.ovh,
.h-ovh {
  overflow: hidden;
}
