@mixin helper-class($prefix) {

  .h-#{$prefix}mtn {
    margin-top: 0;
  }

  .h-#{$prefix}mbn {
    margin-bottom: 0;
  }

  .h-#{$prefix}mln {
    margin-left: 0;
  }

  .h-#{$prefix}mrn {
    margin-right: 0;
  }

  .h-#{$prefix}mtm {
    margin-top: 10px;
  }

  .h-#{$prefix}mbm {
    margin-bottom: 10px;
  }

  .h-#{$prefix}mlm {
    margin-left: 10px;
  }

  .h-#{$prefix}mrm {
    margin-right: 10px;
  }

  .h-#{$prefix}mtl {
    margin-top: 20px;
  }

  .h-#{$prefix}mbl {
    margin-bottom: 20px;
  }

  .h-#{$prefix}mll {
    margin-left: 20px;
  }

  .h-#{$prefix}mrl {
    margin-right: 20px;
  }

  .h-#{$prefix}mts {
    margin-top: 5px;
  }

  .h-#{$prefix}mbs {
    margin-bottom: 5px;
  }

  .h-#{$prefix}mls {
    margin-left: 5px;
  }

  .h-#{$prefix}mrs {
    margin-right: 5px;
  }

  .h-#{$prefix}ptn {
    padding-top: 0;
  }

  .h-#{$prefix}pbn {
    padding-bottom: 0;
  }

  .h-#{$prefix}pln {
    padding-left: 0;
  }

  .h-#{$prefix}prn {
    padding-right: 0;
  }

  .h-#{$prefix}ptm {
    padding-top: 10px;
  }

  .h-#{$prefix}pbm {
    padding-bottom: 10px;
  }

  .h-#{$prefix}plm {
    padding-left: 10px;
  }

  .h-#{$prefix}prm {
    padding-right: 10px;
  }

  .h-#{$prefix}ptl {
    padding-top: 20px;
  }

  .h-#{$prefix}pbl {
    padding-bottom: 20px;
  }

  .h-#{$prefix}pll {
    padding-left: 20px;
  }

  .h-#{$prefix}prl {
    padding-right: 20px;
  }

  .h-#{$prefix}pts {
    padding-top: 5px;
  }

  .h-#{$prefix}pbs {
    padding-bottom: 5px;
  }

  .h-#{$prefix}pls {
    padding-left: 5px;
  }

  .h-#{$prefix}prs {
    padding-right: 5px;
  }

  /* CLEARFIX */
  .clearfix,
  .cf {
    @include g-clearfix();
  }

  /* テキスト方向
  以下のWordpressのリッチテキストエディタが付加するクラス(※)も合わせて設定
  ※ .alignleft / .alignright / .aligncenter
  */
  .txtl,
  .alignleft,
  .h-#{$prefix}tal {
    text-align: left;
  }

  .txtr,
  .alignright,
  .h-#{$prefix}tar {
    text-align: right;
  }

  .txtc,
  .aligncenter,
  .h-#{$prefix}tac {
    text-align: center;
  }

  /* フロート
  Wordpressのリッチテキストエディタが付加するクラス(※)を網羅。
  ※ .left / .right / .clear
  */
  .left,
  .h-#{$prefix}fll {
    @include float(left);
    margin-top: 0;
  }

  .right,
  .h-#{$prefix}flr {
    @include float(right);
    margin-top: 0;
  }

  .clear,
  .h-#{$prefix}cl {
    @include reset-float();
    clear: both;
  }

  .hide,
  .h-#{$prefix}dn {
    display: none;
  }

  .show,
  .h-#{$prefix}db {
    display: block;
  }

  // Emmet Style Helpers
  // http://docs.emmet.io/cheat-sheet/

  .posr,
  .h-#{$prefix}posr {
    position: relative;
  }

  .ovh,
  .h-#{$prefix}ovh {
    overflow: hidden;
  }
}

@each $name, $size in $screen-size {

  $prefix: "#{$name}-";

  @if $name == pc {
    $prefix: "";
    @include helper-class($prefix);
  } @else {
    @media (max-width: $size) {
      @include helper-class($prefix);
    }
  }
}
