@charset "utf-8";

/////////////////////////////////////////////////
// flexbox関連

  @mixin g-flex {
    @include display-box;
    @include experimental-value(display, flex, -moz, -webkit, not -o, -ms, not -khtml, official);
  }

  $g-default-flex-direction: row;
  @mixin g-flex-direction($direction: $g-default-flex-direction) {
    @if $direction == row {
      @include box-orient(horizontal);
    } @else if $direction == column {
      @include box-orient(vertical);
    } @else if $direction == row-reverse {
      @include box-orient(horizontal);
      @include box-direction(reverse);
    } @else if $direction == column-reverse {
      @include box-orient(vertical);
      @include box-direction(reverse);
    }
    @include experimental(flex-direction, $direction, -moz, -webkit, not -o, -ms, not -khtml, official);
  }

  $g-default-flex-wrap: wrap;
  @mixin g-flex-wrap($wrap: $g-default-flex-wrap) {
    @if $wrap == wrap {
      @include box-lines(multiple);
    } @else {
      @include box-lines(single);
    }
    @include experimental(flex-wrap, $wrap, -moz, -webkit, not -o, -ms, not -khtml, official);
  }

  @mixin g-flex-flow($direction: $g-default-flex-direction, $wrap: $g-default-flex-wrap) {
    @include g-flex-direction($direction);
    @include g-flex-wrap($wrap);
  }

  $g-default-justify-content: flex-start;
  @mixin g-justify-content($justify-content: $g-default-justify-content) {
    @if $justify-content == flex-start {
      @include box-pack(start);
    } @else if $justify-content == flex-end {
      @include box-pack(end);
    } @else if $justify-content == center {
      @include box-pack(center);
    }
    @include experimental(justify-content, $justify-content, -moz, -webkit, not -o, -ms, not -khtml, official);
  }

  $g-default-align-items: stretch;
  @mixin g-align-items($align-items: $g-default-align-items){
    @if $align-items == stretch {
      @include box-align(stretch);
    } @else if $align-items == flex-start {
      @include box-align(start);
    } @else if $align-items == fles-end {
      @include box-align(end);
    } @else {
      @include box-align($align-items);
    }
    @include experimental(align-items, $align-items, -moz, -webkit, not -o, -ms, not -khtml, official);
  }

  $g-default-align-content: flex-start;
  @mixin g-align-content($align-content: $g-default-align-content){
    @include experimental(align-content, $align-content, -moz, -webkit, not -o, -ms, not -khtml, official);
  }

@mixin g-clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
   }
  @include has-layout;
}

@mixin linearize-unit {
  @include g-flex();
  @include g-flex-direction(column);
  @include g-flex-wrap(nowrap);
  @include g-justify-content(flex-start);
  @include g-align-items(stretch);
  @include g-align-content(flex-start);
  > .unit,
  > .legacy-unit {
    @include box-flex(1);
    width: 100%;
  }
}

@mixin legacy-linearize-unit {
  clear: both;
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@mixin has-liquid{
  @include g-clearfix;
  .unit {
    float: left;
  }
}

@mixin liquid-unit {
  display: table-cell;
  float: none;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
  width: auto;
}
