
/* 印刷用 */
@media print {

  /* テキストシャドウなど不要なエフェクトを無効化 */
  * {
    background: transparent;
    box-shadow: none;
    color: #000;
    text-shadow: none;
  }

  /* 画像がはみ出したり変形したりしないように。 */
  img {
    max-width: 100%;
    height: auto;
  }

  // 画像置換解除
  // .alt-img {
  //   padding: 0 !important;
  //   width: auto !important;
  //   height: auto !important;
  //   background-image: none !important;
  // }
}
