@charset "utf-8";

/* タブレットサイズ */
@media (max-width: map-get($screen-size, tablet)) {

  .breakpoint-1,
  .linearize-tablet{
    @include units--vertical();
  }

  .show-breakpoint-1 {
    display: block;
  }

  .hide-breakpoint-1 {
    display: none;
  }

  .units--gutter.breakpoint-1,
  .line--gutter.breakpoint-1 {
    @include units--gutter(0);
  }

  th {
    white-space: nowrap;
  }

  .data {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

/* モバイルサイズ */
@media (max-width: map-get($screen-size, mobile)) {

  html {
    font-size: 0.875em;//Mobileではデフォルトのテキストサイズを14pxに
    -webkit-text-size-adjust: none;//デバイスが横になった時の文字拡大をOFF
  }

  .breakpoint-2,
  .linearize-mobile {
    @include units--vertical();
  }

  .show-breakpoint-2 {
    display: block;
  }

  .hide-breakpoint-2 {
    display: none;
  }

  .units--gutter.breakpoint-2,
  .line--gutter.breakpoint-2 {
    @include units--gutter(0);
  }

  /* 画像 */
  img {
    max-width: 100%;
    height: auto;
  }

  /* テーブル */
  table {
    overflow: auto;
  }

}
