///////////////////////////////////////
// 設定
///////////////////////////////////////

$modifier-prefix: "--";
$element-prefix: "__";

// boxsizing.htcへのパス（スラッシュ始まり）
$box-sizing-path: "/js/vendor/boxsizing.htc";
