@charset 'UTF-8';
/* ここにサイト独自のスタイルを設定 */

/////////////////////////////////
// サンプル用
pre strong, dt strong{color: #0B8C8F;}
pre{padding: 20px;background-color: #FCF8BC;overflow:auto;width:auto;}
.line{background-color:#e2e2e2;}
.size1of1{background-color:pink;}
.size1of2{background-color:red;}
.size1of3{background-color:orange;}
.size2of3{background-color:yellow;}
.size1of4{background-color:lime;}
.size3of4{background-color:green;}
.size1of5{background-color:aqua;}
.size2of5{background-color:blue;}
.size3of5{background-color:purple;}
.size4of5{background-color:magenta;}
.size1of6{background-color:teal;}
.size5of6{background-color:fuchsia;}
.mod{background-color:#afbcda;}
.alt-img-sample{background:url(http://quickimage.it/300x50&text=Image+Replacement) left top no-repeat;padding-top:50px;width: 300px;display:block;}
.box{background:#fff;border: 1px solid #aaa;}
.size-1 {width: 200px;}

code {
  background-color: #d2d2d2;
  border-radius: 3px;
  padding: 2px 5px;
}
