@charset "utf-8";

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table {

  th,
  td {
    padding: .5em;
    border: 1px solid #ccc;
  }

  a {
    word-break: break-all;
  }
}

tfoot {
  text-align: center;
}

tfoot td {
  border-top-width: 2px;
}

.data .table {
  width: 100%;
}
