/*
画像置換 (Alternative Image)
高さはPadding-topかpadding-bottomdで設定する。
*/
.alt-img {
  @include alt-img;
}

// ボックスリンク
.link-box {
  color: $base-text-color;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    .link-box-link {
      text-decoration: underline;
    }
  }

  .link-box-link {
    color: $base-link-color;
  }
}

.caps {
  text-transform: uppercase;
}
