/*
画像置換 (Alternative Image)
高さはPadding-topかpadding-bottomdで設定する。
*/
.alt-img,
.sprite {
  @include alt-img;
}

// ボックスリンク

.link-box {
  color: $base-text-color;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    .link-box-link {
      text-decoration: underline;
    }
  }

  .link-box-link {
    color: $base-link-color;
  }
}

// Media Box

.media {
  display: table;
  width: 100%;
}

.media__img,
.media__body {
  display: table-cell;
  vertical-align: top;

  .media--middle > & {
    vertical-align: middle;
  }

  .media--bottom > & {
    vertical-align: bottom;
  }
}

.media__img {
  padding-right: 1em;
}

.media__img--reverse {
  padding-right: 0;
  padding-left: 1em;
}

.media__body {
  width: 100%;
}
