/*
画像置換 (Alternative Image)
高さはPadding-topかpadding-bottomdで設定する。
*/
.alt-img,
.sprite {
  @include alt-img;
}

// ボックスリンク

.block-link {
  color: $base-text-color;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    .block-link__link {
      text-decoration: underline;
    }
  }

  .block-link__link {
    color: $base-link-color;
  }
}
