@charset "utf-8";

///////////////////////////////////////
// 設定
///////////////////////////////////////

$modifier-prefix: "--";
$element-prefix: "__";
$default-side-margin: no;

// boxsizing.htcへのパス（スラッシュ始まり）
$box-sizing-path: "/js/vendor/boxsizing.htc" !default;

// 基本テキストサイズ
$font-size-base: 13px !default;

// 基本テキストカラー
$text-color: #333 !default;

// 基本リンクテキストカラー
$link-color: #074ae2 !default;

// タブレットサイズ
$screen-tablet: 720px !default;

// モバイルサイズ
$screen-mobile: 480px !default;

// フォント設定
$font-family-sans-serif:  sans-serif !default;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-base-windows:  'Hiragino Kaku Gothic ProN', Meiryo, sans-serif !default;
