@charset "utf-8";

///////////////////////////////////////
// 設定
///////////////////////////////////////

// boxsizing.htcへのパス（スラッシュ始まり）
$box-sizing-path: "/u/175530/Getup/js/vendor/boxsizing.htc";

// 基本テキストカラー
$base-text-color: #333;

// 基本リンクテキストカラー
$base-link-color: #074ae2;