@charset "utf-8";

///////////////////////////////////////
// 設定
///////////////////////////////////////

$modifier-prefix: "--";
$element-prefix: "__";
$default-side-margin: no;
$size-divider: "-";

// 基本テキストサイズ
$base-text-size-px: 13 !default;
$base-text-size: #{$base-text-size-px}px !default;

// 基本テキストカラー
$base-text-color: #333 !default;

// 基本リンクテキストカラー
$base-link-color: #074ae2 !default;

// 基本フォント
$base-font-family: 'Noto Sans CJK JP', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

// スクリーンサイズマップ
$screen-size: (
  pc              : 960px,
  pc-max          : 960px - 1,
  tablet          : 720px,
  tablet-max      : 720px - 1,
  breakpoint-1    : 640px,
  mobile          : 480px,
  mobile-max      : 480px - 1
);

// 出力するグリッドの隙間
$gaps: 0, 10, 20;
