<html>

<head>
  <title>{ state.title }</title>
  <meta each="{ meta in state.meta }" {...meta} />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/main.js" defer></script>
</head>

<body>
  <h1>{ state.title }</h1>
  <static-component></static-component>
</body>

<script>
  import StaticComponent from './components/static-component.riot'

  export default {
    components: {
      StaticComponent
    },
    state: {
      default: {
        title: 'Static',
        meta: [
          {
            name: 'description',
            content: 'a description',
          },
          {
            property: 'og:title',
            content: 'ogp title',
          },
        ],
      },
      title: '',
      meta: [],
    },
    onBeforeMount() {
      this.setTitle()
      this.setMeta()

    },
    setTitle() {
      this.state.title = this.state.default.title
      if (this.props.title) {
        this.state.title = [...this.props.title, this.state.title].join(' | ')
      }
    },
    setMeta() {
      this.state.meta = JSON.parse(JSON.stringify(this.state.default.meta))
      if (this.props.meta) {
        this.props.meta.forEach(propsMeta => {
          this.state.meta.forEach(stateMeta => {
            if (propsMeta.name == stateMeta.name || propsMeta.property == stateMeta.property) {
              stateMeta.content = propsMeta.content
            }
          })
        })
      }
    }
  }
</script>

</html>