<html>

<head>
  <title>{ state.title }</title>
  <meta each={ meta in state.meta } {...meta} />
</head>

<body>
  <h1>{ state.title }</h1>
  <static-component></static-component>
</body>

<script>
  import StaticComponent from './static-component.riot'

  export default {
    components: {
      StaticComponent
    },
    state: {
      title: 'Static!',
      meta: [{
        name: 'description',
        content: 'a description'
      }]
    }
  }
</script>

</html>