<html>

<head>
  <title>{ state.title }</title>
  <meta each={ meta in state.meta } {...meta} />
</head>

<body>
  <h1>{ state.title }</h1>
</body>

<script>
  export default {
    state: {
      title: 'Static!',
      meta: [{
        name: 'description',
        content: 'a description'
      }]
    }
  }
</script>

</html>