<html>

<head>
  <title>{ state.title }</title>
  <meta each={ meta in state.meta } {...meta} />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="./css/main.css">
  <script src="./js/main.js" defer></script>
</head>

<body>
  <h1>{ state.title }</h1>
  <static-component></static-component>
</body>

<script>
  import StaticComponent from './inc/static-component.riot'

  export default {
    components: {
      StaticComponent
    },
    state: {
      title: 'Static!',
      meta: [{
        name: 'description',
        content: 'a description'
      }]
    }
  }
</script>

</html>