h1 {
  color: green;
  display: flex;
}

@keyframes animation-button {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.unmount-animation {
  animation: animation-button 1s infinite;
  opacity: 1;
  transition: opacity 1s;
}

.unmount-animation.is-unmount {
  opacity: 0;
}
