<html>

<head>
  <meta charset="utf-8">
  <title>{ props.title ? props.title : state.title }</title>
  <meta if="{ props.meta }" each="{ meta in props.meta }" {...meta}>
  <meta if="{ !props.meta }" each="{ meta in state.meta }" {...meta}>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{ this.props.toRoot }css/main.css">
  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script src="{ this.props.toRoot }js/main.js" defer></script>
</head>

<body>
  <h1>{ props.title ? props.title : state.title }</h1>
  <static-component></static-component>
  <slot name="default"></template>
</body>

<script>
  import StaticComponent from './static-component.riot'

  export default {
    components: {
      StaticComponent
    },
    state: {
      title: 'Static',
      meta: [
        {
          name: 'description',
          content: 'a description',
        },
        {
          property: 'og:title',
          content: 'ogp title',
        },
      ],
    },
  }
</script>

</html>