<html>
<template is="html-base" title="{ state.title }" meta="{ state.meta }">
  <static-component></static-component>
  <static-header></static-header>
  <p>page content</p>
  <my-app data-riot></my-app>
</template>
<script>
  import HtmlBase from '../components/html-base.riot'
  import StaticHeader from '../components/static-header.riot'
  import StaticComponent from '../components/static-component.riot'
  export default {
    components: {
      HtmlBase,
      StaticHeader,
      StaticComponent,
    },
    state: {
      title: 'title from props',
      meta: [
        {
          name: 'description',
          content: 'description from props',
        },
      ],
    },
  }
</script>

</html>