<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Getup サンプル</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </head>
  <body id="page-top">
    <section>
      <h1 class="c-heading u-xlarge">グリッドレイアウト（オリジナル）</h1>
      <div class="o-grid u-sample-row">
        <div class="o-width-1">
          <section class="u-sample-col o-contents">
            <h1>通常テキスト</h1>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </sect>
        </div>
        <div class="o-width-1">
          <section class="u-sample-col o-contents">
            <h1>リンク</h1>
            <p><a href="">リンク</a></p>
          </section>
        </div>
        <div class="o-width-1">
          <section class="u-sample-col o-contents">
            <h1>リスト</h1>
            <ul>
              <li>リストアイテム</li>
              <li>リストアイテム</li>
              <li>リストアイテム
                <ul>
                  <li>リストアイテム</li>
                  <li>リストアイテム</li>
                  <li>リストアイテム</li>
                </ul>
              </li>
              <li>リストアイテム</li>
            </ul>
          </section>
        </div>
        <div class="o-width-1">
          <section class="u-sample-col o-contents">
            <h1>数字リスト</h1>
            <ol>
              <li>リストアイテム</li>
              <li>リストアイテム</li>
              <li>リストアイテム
                <ol>
                  <li>リストアイテム</li>
                  <li>リストアイテム</li>
                  <li>リストアイテム</li>
                </ol>
              </li>
              <li>リストアイテム</li>
            </ol>
          </section>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
      </div>
      <div class="o-grid o-grid--no-gap u-sample-row">
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
      </div>
      <div class="o-grid o-grid--custom u-sample-row">
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
        <div class="o-width-1">
          <div class="u-sample-col o-contents"></div>
        </div>
      </div>
    </section>
    <button class="c-button">Button</button>
    <app id="app"></app>
    <app-tag></app-tag>
    <button class="c-button js-anime">ボタン</button>
    <p><a href="#page-top">ページトップに戻る</a></p>
    <script src="js/main.js"></script>
  </body>
</html>
