<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Getup サンプル</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </head>
  <body> 
    <section>
      <h1>Bootstrapに頼らないグリッドレイアウトパターン</h1>
      <div class="my-row sample-row">
        <div class="my-col sample-col"></div>
        <div class="my-col sample-col"></div>
        <div class="my-col sample-col"></div>
        <div class="my-col sample-col"></div>
        <div class="my-col sample-col"></div>
        <div class="my-col sample-col"></div>
      </div>
    </section>
    <section>
      <h1>Bootstrapのグリッドパターン</h1>
      <div class="container-fluid">
        <div class="row sample-row">
          <div class="col-sm-3">
            <div class="sample-col">
              <p>テキストテキストテキストテキストテキストテキスト</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="sample-col">
              <p>テキストテキストテキストテキストテキストテキスト</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="sample-col">
              <p>テキストテキストテキストテキストテキストテキスト</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="sample-col">
              <p>テキストテキストテキストテキストテキストテキスト</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="sample-col">
              <p>テキストテキストテキストテキストテキストテキスト</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="sample-col">
              <p>テキストテキストテキストテキストテキストテキスト</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app id="app"></app>
    <app-tag></app-tag>
    <button class="btn js-anime">ボタン</button>
    <button class="btn js-anime-2">ボタン</button>
    <script src="js/main.js"></script>
  </body>
</html>
