/*---
title: c-sample-button
---

サンプルボタンです。

```example:html
<button class="c-sample-button">サンプル</button>
```
*/

.c-sample-button {
  background-color: #fff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 0.5em;
}

.c-sample-button:hover {
  background-color: gray;
}
