html {
  scroll-behavior: smooth;
  font-family: var(--base-font-family);
  font-feature-settings: 'palt' 1;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-top: 1em;
  margin-bottom: 0;
}

ul {
  padding-left: 1.5em;
}

a {
  color: var(--color-link);
}

svg {
  fill: none;
}

figure {
  margin: 0;
}