:not(:defined) {
  visibility: hidden;
}

:where(html) {
  font-display: swap;
  font-family: var(--base-font-family);
  font-feature-settings: 'palt' 1;
  scroll-behavior: smooth;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl) {
  margin-top: 0.5em;
}

:where(svg) {
  fill: none;
}
