.o-trim > *:first-child {
  margin-top: 0;
}

.o-trim-all *:first-child {
  margin-top: 0;
}

.o-layout {
  --_gap: var(--getup-flex-gap-size);
  display: flex;
  gap: var(--_gap);
  padding-left: 0;
  list-style: none;
}

.o-layout--column {
  flex-direction: column;
}

.o-layout > * {
  flex: 0 1 auto;
  max-width: 100%;
}

.o-layout--fill,
.o-layout--fill-equal {
  align-items: stretch;
}

.o-layout--fill > * {
  flex: 1 1 auto;
}

.o-layout--fill-equal > * {
  flex: 1 1 0%;
}

.o-layout--gap-none {
  --_gap: 0;
}

.o-layout--gap-large {
  --_gap: 2em;
}

.o-layout--gap-small {
  --_gap: 0.25em;
}

.o-layout--inline {
  display: inline-flex;
}

.o-layout--wrap {
  flex-wrap: wrap;
}

.o-layout--main-axis-center {
  justify-content: center;
}

.o-layout--main-axis-end {
  justify-content: flex-end;
}

.o-layout--main-axis-space-between {
  justify-content: space-between;
}

.o-layout--main-axis-space-around {
  justify-content: space-around;
}

.o-layout--main-axis-space-evenly {
  justify-content: space-evenly;
}

.o-layout--cross-axis-start {
  align-items: flex-start;
}

.o-layout--cross-axis-center {
  align-items: center;
}

.o-layout--cross-axis-end {
  align-items: flex-end;
}

.o-layout--cross-axis-baseline {
  align-items: baseline;
}

.o-layout--cross-axis-stretch {
  align-items: stretch;
}

.o-layout--cross-axis-stretch > * {
  display: flex;
}

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

.o-layout--text {
  flex-wrap: wrap;
  margin: 0 0 0 -0.4em;
}

.o-layout--text > * {
  padding: 0 0 0 0.4em;
}

.o-items-clip {
  overflow: hidden;
}

.o-size-hug {
  flex: 0 0 auto;
}

.o-size-fill {
  flex: 1 1 auto;
}

.o-order-top {
  order: -1;
}

.o-items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.o-items-fill-vertical {
  display: flex;
  flex-direction: column;
}

.o-items-fill-vertical > * {
  flex: 1;
}

.o-text-center {
  text-align: center;
}

.o-text-left {
  text-align: left;
}

.o-text-right {
  text-align: right;
}

.o-space {
  margin-top: 1em;
}

.o-space--small {
  margin-top: 0.5em;
}

.o-space--large {
  margin-top: 2em;
}

.o-spacer {
  display: block;
  width: 1em;
  height: 1em;
}

.o-spacer--small {
  width: 0.5em;
  height: 0.5em;
}

.o-spacer--large {
  width: 1.5em;
  height: 1.5em;
}

.o-spacer--large-2 {
  width: 2em;
  height: 2em;
}

.o-icon {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 1em;
  line-height: inherit;
}

.o-font-inherit {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.o-nowrap {
  white-space: nowrap;
}

.o-word-break-control {
  word-break: keep-all;
  overflow-wrap: anywhere;
}

@media (--mobile) {
  .o-layout--column-in-mobile {
    flex-direction: column;
    align-items: stretch;
  }

  .o-layout--column-reverse-in-mobile {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
