.o-layout > * > * {
  pointer-events: auto;
}

.o-layout {
  display: flex;
  list-style: none;
  margin: calc(var(--getup-flex-gap-size) * -1) 0 0
    calc(var(--getup-flex-gap-size) * -1);
  /* 要素が空の場合の隣接要素への影響を相殺 */
  min-height: var(--getup-flex-gap-size);
  padding-left: 0;
  pointer-events: none;
}

.o-layout--row {
  align-items: center;
}

.o-layout--column {
  flex-direction: column;
}

.o-layout > * {
  flex: 0 1 auto;
  max-width: 100%;
  padding: var(--getup-flex-gap-size) 0 0 var(--getup-flex-gap-size);
}

.o-layout--fill,
.o-layout--fill-equal {
  align-items: stretch;
}

.o-layout--fill > * {
  flex: 1 1 auto;
}

.o-layout--fill-equal > * {
  flex: 1 1 0%;
}

.o-layout--gap-none {
  margin: 0;
}

.o-layout--gap-none > * {
  padding: 0;
}

.o-layout--gap-large {
  margin: -2em 0 0 -2em;
}

.o-layout--gap-large > * {
  padding: 2em 0 0 2em;
}

.o-layout--gap-small {
  margin: -0.25em 0 0 -0.25em;
}

.o-layout--gap-small > * {
  padding: 0.25em 0 0 0.25em;
}

.o-layout--inline {
  display: inline-flex;
}

.o-layout--wrap {
  flex-wrap: wrap;
}

.o-layout--main-axis-center {
  justify-content: center;
}

.o-layout--main-axis-end {
  justify-content: flex-end;
}

.o-layout--cross-axis-start {
  align-items: flex-start;
}

.o-layout--cross-axis-center {
  align-items: center;
}

.o-layout--cross-axis-end {
  align-items: flex-end;
}

.o-layout--cross-axis-baseline {
  align-items: baseline;
}

.o-layout--cross-axis-stretch {
  align-items: stretch;
}

.o-layout--cross-axis-stretch > * {
  display: flex;
}

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

.o-fit > *:first-child {
  margin-top: 0;
}

.o-fit-all *:first-child {
  margin-top: 0;
}

.o-items-clip {
  overflow: hidden;
}

.o-size-hug {
  flex: 0 0 auto;
}

.o-size-fill {
  flex: 1 1 auto;
}

.o-order-top {
  order: -1;
}

.o-items-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.o-text-center {
  text-align: center;
}

.o-text-left {
  text-align: left;
}

.o-text-right {
  text-align: right;
}

.o-space {
  margin-top: 0.5em;
}

.o-space-small {
  margin-top: 0.25em;
}

.o-space-large {
  margin-top: 1em;
}

.o-spacer {
  display: block;
  height: 0.5em;
  width: 0.5em;
}

.o-spacer--small {
  height: 0.25em;
  width: 0.25em;
}

.o-spacer--large {
  height: 1em;
  width: 1em;
}

.o-icon {
  display: inline-block;
  height: 1em;
  line-height: inherit;
  vertical-align: middle;
  width: auto;
}

.o-font-inherit {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@media (max-width: 560px) {
  .o-layout--column-in-mobile {
    align-items: stretch;
    flex-direction: column;
  }

  .o-layout--column-reverse-in-mobile {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
