:root {
  --base-font-family: 'Noto Sans JP', 'Noto Sans CJK JP',
    'Noto Sans CJK Japanese', -apple-system, BlinkMacSystemFont, Meiryo,
    sans-serif;

  --getup-flex-gap-size: 1em;

  --color-primary: #228b22;
  --color-link: var(--color-primary);
  --color-white: #fff;
}

@custom-media --mobile (max-width: 480px);
