/**
 * 非表示テキスト（WordPressに合わせたクラス名を合わせて定義）
 */

.u-screen-reader-text,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

/**
 * 親要素のフォントを継承
 */

.u-inherit {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * マージン上書き
 */

.u-reset-margin {
  margin-top: 0;
}

/**
 * テキストスタイル上書き
 */

.u-text-bolder {
  font-weight: bolder;
}

.u-reset-text {
  font-weight: normal;
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}
