@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin <%= className %> {
  display: inline-block;
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.<%= className %>:before {
  @include s;
}

@mixin <%= className %>-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.<%= className %>-lg {
  @include <%= className %>-lg;
}

@mixin <%= className %>-2x { font-size: 2em; }
@mixin <%= className %>-3x { font-size: 3em; }
@mixin <%= className %>-4x { font-size: 4em; }
@mixin <%= className %>-5x { font-size: 5em; }
@mixin <%= className %>-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.<%= className %>-2x { @include <%= className %>-2x; }
.<%= className %>-3x { @include <%= className %>-3x; }
.<%= className %>-4x { @include <%= className %>-4x; }
.<%= className %>-5x { @include <%= className %>-5x; }
.<%= className %>-fw { @include <%= className %>-fw; }

<% _.each(glyphs, function(glyph) {
%>@mixin <%= className %>-<%= glyph.name %> { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>"; }
.<%= className %>-<%= glyph.name %>:before { @include <%= className %>-<%= glyph.name %>; }
<% }); %>
