{%- set pageTitle = 'ページタイトル' -%}
{% extends "_base.njk" %}
{%- block content -%}
<p>
  <img src="img/icon-circle.svg" alt="" class="o-icon"> テキスト
</p>
<my-app id="my-app"></my-app>
<button class="btn js-anime">ボタン</button>
<p style="margin-top: 100vh;">
  <a href="#page-top">ページトップに戻る</a>
</p>
{%- endblock -%}
