html {
  font-family: $base-font-family;
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-bottom: 0;
}

a {
  color: $link-color;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: none;
}