/**
 * Grid
 */

.o-grid {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 0 1 auto;
  }

  @include o-grid-gap;
}

.o-grid--fill {
  flex-wrap: nowrap;

  > * {
    flex: 1 1 auto;
  }
}

.o-grid--no-gap {
  @include o-grid-gap(0);
}

/**
 * BOX: Container box
 *
 * Cancel top margin of first child
 */

.o-box {

  & > *:first-child {
    margin-top: 0;
  }
}