/**
 * Tile - General Layout Module
 */

.o-tile {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 0 1 auto;
  }

  @include o-tile-gap;
}

.o-tile--fill {
  flex-wrap: nowrap;

  > * {
    flex: 1 1 auto;
  }
}

.o-tile--fill-equal {
  flex-wrap: nowrap;

  > * {
    flex: 1 1 0;
  }
}

.o-tile--no-gap {
  @include o-tile-gap(0);
}

/**
 * BOX: Container box
 *
 * Cancel top margin of first child
 */

.o-box {
  @include o-box;
}

.o-box-all {
  @include o-box-all;
}

/**
 * for Media block
 */

.o-tile--nowrap {
  flex-wrap: nowrap;
}

.o-width-fixed {
  flex: 0 0 auto;
  max-width: 50%;
  text-align: center;
}

.o-width-fill {
  flex: 1 1 auto;
}

.o-icon {
  display: inline-block;
  height: 1em;
  width: auto;
  line-height: inherit;
  vertical-align: middle;
}