/**
 * Basa Font Family
 */

$base-font-family:
  'Noto Sans JP', 'Noto Sans CJK JP', 'Noto Sans CJK Japanese',
  '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic',
  'Hiragino Kaku Gothic ProN',
  -apple-system,
  BlinkMacSystemFont,
  Meiryo,
  sans-serif !default;

$getup-flex-gap-size: 1em;

$color-primary: #228b22;
$link-color: $color-primary;

$breakpoint-1: 560px;