@mixin getup-flex-gap($gap-x: $getup-flex-gap-size, $gap-y: $gap-x) {
  margin: (-$gap-y) 0 0 (-$gap-x);
  >* {
    padding: $gap-y 0 0 $gap-x;
  }
}

@mixin getup-fit {
  &>*:first-child {
    margin-top: 0;
  }
}

@mixin getup-fit-all {
  &>*:first-child {
    margin-top: 0;
  }
}