/*
@styleguide

@title Utility Style
最終調整として利用するユーティリティクラス
*/

/**
 * 非表示テキスト
 * WordPressに合わせたクラス名
 */
.u-screen-reader-text,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

/**
 * 親要素継承クラス
 */
.u-inherit {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * マージン上書きクラス
 */
.u-reset-margin {
  margin-top: 0;
}

/**
 * テキストスタイル上書き
 */

/*
@styleguide
🎨強制的にBoldに
<p class="u-text-bolder">テキスト</p>

    <p class="u-text-bolder">テキスト</p>
*/
.u-text-bolder {
  font-weight: bolder;
}

/*
@styleguide
🎨フォントスタイルを戻す
<p class="u-reset-text">テキスト</p>

    <p class="u-reset-test">テキスト</p>
*/
.u-reset-text {
  font-weight: normal;
  text-align: left;
}

.u-sample-row {
  background-color: #cbc9dd;
}

.u-sample-col {
  background-color: #b8dbfc;
  min-height: 100px;
}

.u-sample-col--type-2 {
  min-height: 200px;
}