<html lang="ja">
<template is="html-base" title="{ state.title }" meta="{ state.meta }" to-root="../../">
  <static-header></static-header>
  <p>page content</p>
</template>
<script>
  import HtmlBase from '../../../components/html-base.riot'
  import StaticHeader from '../../../components/static-header.riot'
  export default {
    components: {
      HtmlBase,
      StaticHeader
    },
    state: {
      title: 'Test: title from props',
      meta: [
        {
          name: 'description',
          content: 'test: description from props',
        },
      ],
    },
  }
</script>

</html>